In [1]:
import os
import glob
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.sparse as sp
import time
import gget
import anndata as an
import scanpy as sc
import scanpy.external as sce
import h5py

sc.settings.verbosity = 2
# sc.logging.print_header()

# Demultiplexing stats

In [6]:
path = "/nfs/turbo/umms-indikar/shared/projects/hybrid_reprogramming/pipeline_outputs/hyb_epi2me_final/hybrid/hybrid.bc_assignment_summary.tsv"

df = pd.read_csv(path, header=None, sep='\t')
print(df.shape)

# df[1] = df[1].astype(int)
# pd.set_option("display.float_format", "{:,}".format) 

df

(10, 2)

                                   0             1
0                       bc_corrected  16,060,051.0
1              bc_no_shortlist_match  21,859,986.0
2           bc_shortlist_exact_match 140,097,427.0
3         bc_shortlist_multiple_hits   4,755,279.0
4          cell_count_read_threshold       1,068.0
5  fraction_of_high_q_reads_in_cells          0.94
6              high_q_reads_in_cells 126,307,883.0
7              high_quality_barcodes     715,111.0
8                 high_quality_reads 134,381,035.0
9            n_cells_after_filtering      10,895.0

In [8]:
df.iloc[0:4, 1].sum()

np.float64(182772743.0)

In [9]:
path = "/nfs/turbo/umms-indikar/shared/projects/HSC/pipeline_outputs/cc_fibroblast_full/scfib/scfib.bc_assignment_summary.tsv"

df = pd.read_csv(path, header=None, sep='\t')
print(df.shape)

# df[1] = df[1].astype(int)
# pd.set_option("display.float_format", "{:,}".format) 

df

(10, 2)

                                   0             1
0                       bc_corrected  13,319,318.0
1              bc_no_shortlist_match  23,136,392.0
2           bc_shortlist_exact_match 116,415,772.0
3         bc_shortlist_multiple_hits   3,408,885.0
4          cell_count_read_threshold         931.0
5  fraction_of_high_q_reads_in_cells          0.91
6              high_q_reads_in_cells  93,257,239.0
7              high_quality_barcodes     619,033.0
8                 high_quality_reads 102,222,758.0
9            n_cells_after_filtering       8,963.0

In [10]:
df.iloc[0:4, 1].sum()

np.float64(156280367.0)